<div>
  <h2>Registrar Abogado</h2>

  <input placeholder="Nombre completo" [(ngModel)]="abogado.nombreCompleto" /><br>
  <input placeholder="Cédula" [(ngModel)]="abogado.numeroCedula" /><br>
  <input placeholder="Tarjeta profesional" [(ngModel)]="abogado.tarjetaProfesional" /><br>
  <input placeholder="Especialidad" [(ngModel)]="abogado.especialidad" /><br>
  <input placeholder="Correo" [(ngModel)]="abogado.correoElectronico" /><br>
  <input placeholder="Teléfono" [(ngModel)]="abogado.telefono" /><br>

  <button (click)="registrar()">Registrar</button>
</div>Get-Content app.routes.ts
